<%
annual = annual[0] || {fee: false, book: false};
let m = new Date().getMonth() + 1;
let paid = payment[0] !== undefined && payment[0].time.match(new RegExp(`${new Date().getFullYear()}-${m > 9 ? m : '0' + m}.+`));
let count = 0, passes = 0, passesIll = 0;
let all_attendance = {
    group:  {attendance: 0, passes: 0, ill: 0},
    mental_arifm_1:  {attendance: 0, passes: 0, ill: 0},
    mental_arifm_2:  {attendance: 0, passes: 0, ill: 0},
    english:  {attendance: 0, passes: 0, ill: 0},
    painting:  {attendance: 0, passes: 0, ill: 0}
}

const lesson_types = ['group', 'mental_arifm_1', 'mental_arifm_2', 'english', 'painting'];

attendance.forEach(row => {
    if (row.type === 1)
        all_attendance[lesson_types[row.lesson_type - 1]].attendance++;
    else if (row.type === 2) {
        all_attendance[lesson_types[row.lesson_type - 1]].ill++;
        all_attendance[lesson_types[row.lesson_type - 1]].passes++;
    } else
        all_attendance[lesson_types[row.lesson_type - 1]].passes++;
});
%>

<!DOCTYPE>
<html lang="ru">
<head>
    <%- include ../assets/elements/head.ejs %>
    <link rel="stylesheet" href="/payment/style.css">
    <script src="/payment/script.js"></script>
    <script src="/assets/elements/customNumberInput/script.js"></script>
    <script>
        const prices = <%- JSON.stringify(prices) %>;
        const data = <%-JSON.stringify({
            attendance: all_attendance,
            fio: child.fio
        })%>;
    </script>
    <style>
        small {
            margin: 2px 5px 0;
        }
    </style>
</head>
<body>
<%- include('../assets/elements/loader', {className: 'main-loader'}); %>
<%- include('../assets/elements/header', {admin: admin}); %>
<div class="body container-fluid">
    <div class="row justify-content-center">
        <div style="width: 450px">
            <% if (paid) { %>
                <div class="alert alert-primary" role="alert">
                    <%
                        let amount = 0;
                        payment.forEach(p => amount += p.amount);
                    %>
                    В этом месяце оплачено <%= amount %> ₽
                </div>
            <% } %>
            <div class="payment">
                <div class="payment__row">
                    <span class="payment__row_title">ФИО ребенка:</span>
                    <div class="payment__row_body"><%= child.fio %></div>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">Расчетный период:</span>
                    <div class="payment__row_body"><%= `${m > 9 ? m : '0' + m}.${new Date().getFullYear()}` %></div>
                </div>
                <div class="payment__row payment__total">
                    <span class="payment__row_title">Групповых занятий:</span>
                    <div class="payment__row_body" style="display: flex">
                        <%= prices.group %> ₽
                        <small>x</small>
                        <%- include('../assets/elements/customNumberInput/input', {
                            value: all_attendance.group.attendance + all_attendance.group.passes,
                        }) %>
                    </div>
                </div>
                <% if (all_attendance.group.passes) { %>
                    <div class="payment__row">
                        <span class="payment__row_title" style="padding-left: 20px">Пропусков / по болезни:</span>
                        <div class="payment__row_body">
                            <%= all_attendance.group.passes %> / <%= all_attendance.group.ill %>
                        </div>
                    </div>
                <% } %>
                <div class="payment__row">
                    <span class="payment__row_title">Ментальная арифметика I:</span>
                    <div class="payment__row_body" style="display: flex">
                        <%= prices.mental_arifm_1 %> ₽
                        <small>x</small>
                        <%- include('../assets/elements/customNumberInput/input', {
                            value: all_attendance.mental_arifm_1.attendance + all_attendance.mental_arifm_1.passes,
                        }) %>
                    </div>
                </div>
                <% if (all_attendance.mental_arifm_1.passes) { %>
                    <div class="payment__row">
                        <span class="payment__row_title" style="padding-left: 20px">Пропусков / по болезни:</span>
                        <div class="payment__row_body">
                            <%= all_attendance.mental_arifm_1.passes %> / <%= all_attendance.mental_arifm_1.ill %>
                        </div>
                    </div>
                <% } %>
                <div class="payment__row">
                    <span class="payment__row_title">Ментальная арифметика II:</span>
                    <div class="payment__row_body" style="display: flex">
                        <%= prices.mental_arifm_2 %> ₽
                        <small>x</small>
                        <%- include('../assets/elements/customNumberInput/input', {
                            value: all_attendance.mental_arifm_2.attendance + all_attendance.mental_arifm_2.passes,
                        }) %>
                    </div>
                </div>
                <% if (all_attendance.mental_arifm_2.passes) { %>
                    <div class="payment__row">
                        <span class="payment__row_title" style="padding-left: 20px">Пропусков / по болезни:</span>
                        <div class="payment__row_body">
                            <%= all_attendance.mental_arifm_2.passes %> / <%= all_attendance.mental_arifm_2.ill %>
                        </div>
                    </div>
                <% } %>
                <div class="payment__row">
                    <span class="payment__row_title">Английский язык:</span>
                    <div class="payment__row_body" style="display: flex">
                        <%= prices.english %> ₽
                        <small>x</small>
                        <%- include('../assets/elements/customNumberInput/input', {
                        value: all_attendance.english.attendance + all_attendance.english.passes,
                        }) %>
                    </div>
                </div>
                <% if (all_attendance.english.passes) { %>
                    <div class="payment__row">
                        <span class="payment__row_title" style="padding-left: 20px">Пропусков / по болезни:</span>
                        <div class="payment__row_body">
                            <%= all_attendance.english.passes %> / <%= all_attendance.english.ill %>
                        </div>
                    </div>
                <% } %>
                <div class="payment__row">
                    <span class="payment__row_title">ИЗО студия:</span>
                    <div class="payment__row_body" style="display: flex">
                        <%= prices.painting %> ₽
                        <small>x</small>
                        <%- include('../assets/elements/customNumberInput/input', {
                            value: all_attendance.painting.attendance + all_attendance.painting.passes,
                        }) %>
                    </div>
                </div>
                <% if (all_attendance.painting.passes) { %>
                    <div class="payment__row">
                        <span class="payment__row_title" style="padding-left: 20px">Пропусков / по болезни:</span>
                        <div class="payment__row_body">
                            <%= all_attendance.painting.passes %> / <%= all_attendance.painting.ill %>
                        </div>
                    </div>
                <% } %>
                <div class="payment__row payment__total">
                    <span class="payment__row_title">Посещений у дефектолога:</span>
                    <div class="payment__row_body" style="display: flex">
                        <%= prices.defectologist %> ₽
                        <small>x</small>
                        <%- include('../assets/elements/customNumberInput/input') %>
                    </div>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">Посещений у логопеда:</span>
                    <div class="payment__row_body" style="display: flex">
                        <%= prices.logopedist %> ₽
                        <small>x</small>
                        <%- include('../assets/elements/customNumberInput/input') %>
                    </div>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">Посещений у психолога:</span>
                    <div class="payment__row_body" style="display: flex">
                        <%= prices.psychologist %> ₽
                        <small>x</small>
                        <%- include('../assets/elements/customNumberInput/input') %>
                    </div>
                </div>
                <div class="payment__row payment__total">
                    <span class="payment__row_title">Ежегодный взнос:</span>
                    <div class="payment__row_body">
                        <input class="styled-checkbox" id="fee" type="checkbox"
                                <%= annual.fee ? 'checked disabled' : '' %>>
                        <label for="fee"><%= annual.fee ? 'Оплачено' : `${prices.fee} ₽` %></label>
                    </div>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">Пособие:</span>
                    <div class="payment__row_body">
                        <input class="styled-checkbox" id="books" type="checkbox"
                               value="value2" <%= annual.book ? 'checked disabled' : '' %>>
                        <label for="books"><%= annual.book ? 'Оплачено' : `${prices.books} ₽` %></label>
                    </div>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">Пособие 3:</span>
                    <div class="payment__row_body">
                        <input class="styled-checkbox" id="books_3" type="checkbox"
                               value="value2" <%= annual.fee_3 ? 'checked disabled' : '' %>>
                        <label for="books_3"><%= annual.fee_3 ? 'Оплачено' : `${prices.books_3} ₽` %></label>
                    </div>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">Дополнительная сумма:</span>
                    <div class="payment__row_body">
                        <input class="additional" type="text" style="width: 60px; height: 26px; padding: 2px"> ₽
                    </div>
                </div>
                <div class="payment__row payment__total">
                    <span class="payment__row_title">Итого к оплате:</span>
                    <div class="payment__row_body total">0 ₽</div>
                </div>
            </div>
            <div class="type">
                <span class="type__title">Тип оплаты:</span>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio"
                           class="custom-control-input" checked value="0">
                    <label class="custom-control-label" for="customRadio2">Безналичный</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio"
                           class="custom-control-input" value="1">
                    <label class="custom-control-label" for="customRadio1">Наличный</label>
                </div>
            </div>
            <div class="alert alert-danger danger" role="alert" style="display: none;">
                Выберите хотя бы один из видов оплаты.
            </div>
            <div class="comment">
                <span class="comment__title">Комментарий <small>(необязательно)</small></span>
                <textarea class="comment__message" placeholder="Комментарий" maxlength="128"></textarea>
            </div>
            <div class="buttons justify-content-end">
                <button type="button" class="btn btn-primary look">Просмотр</button>
                <button type="button" class="btn btn-primary pay">Оплатить</button>
            </div>
        </div>
    </div>
</div>
<%- include('../assets/elements/footer'); %>
</body>
</html>