<%
let attendance = {};
['group', 'mental_arifm_1', 'mental_arifm_2', 'english', 'painting',
    'speed_read_1', 'speed_read_2'].forEach((key, i) => {
    attendance[key] = {};
    attendance[key].attendance = +query[key].match(/\d+/g)[0];
    attendance[key].passes = +query[key].match(/\d+/g)[1];
    attendance[key].ill = +query[key].match(/\d+/g)[2];
});
let withoutPasses = {
    defectologist:  +query.defectologist,
    logopedist:     +query.logopedist,
    psychologist:   +query.psychologist
}
let annual = {
    fee:    query.fee === '1',
    book:   query.book === '1',
    fee_3:  query.fee_3 === '1'
}
let additional = +query.additional;

function createItem(id, name, first) {
    if (attendance[id].attendance) {
        let item = `
            <div class="payment__row ${first ? 'payment__total' : ''}">
                <span class="payment__row_title">${name}:</span>
                <div class="payment__row_body" style="display: flex">
                    ${prices[id]} ₽ <small>x</small> ${attendance[id].attendance}
                </div>
            </div>
        `;
        if (attendance[id].passes)
            item += `
             <div class="payment__row">
                <span class="payment__row_title" style="padding-left: 20px">Пропусков / по болезни:</span>
                <div class="payment__row_body">
                    ${attendance[id].passes} / ${attendance[id].ill}
                </div>
            </div>
            `
        return item;
    } else {
        return '';
    }
}

function createItem2(id, name, first) {
    if (withoutPasses[id]) {
        return `
            <div class="payment__row ${first ? 'payment__total' : ''}">
                <span class="payment__row_title">${name}:</span>
                <div class="payment__row_body" style="display: flex">
                    ${prices[id]} ₽ <small>x</small> ${withoutPasses[id]}
                </div>
            </div>
        `;
    } else {
        return '';
    }
}

function createAnnual(id, name, first) {
    if (annual[id]) {
        return `
            <div class="payment__row ${first ? 'payment__total' : ''}">
                <span class="payment__row_title">${name}:</span>
                <div class="payment__row_body">${prices[id]} ₽</div>
            </div>
        `;
    } else {
        return '';
    }
}
%>

<!DOCTYPE>
<html lang="ru">
<head>
    <title>Кассовый чек</title>
    <%- include ../assets/elements/head.ejs %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/payment/style.css">
</head>
<body>
<div class="body container-fluid">
    <% const count =        +query.count; %>
    <% const passes =       +query.passes; %>
    <% const passesIll =    +query.passesIll; %>
    <% const attendanceAmount = count > 8 ? prices.visit * 8 : prices.visit * count; %>
    <div style="display: flex">
        <% for (let i = 0; i < 2; i++) { %>
        <div class="copy" style="margin: 20px 20px 0 20px; width: 400px;">
            <div class="payment">
                <div class="payment__row">
                    <span class="payment__row_title">ФИО ребенка:</span>
                    <div class="payment__row_body"><%= query.fio %></div>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">Расчетный период:</span>
                    <% let m = new Date().getMonth() + 1; %>
                    <div class="payment__row_body"><%= `${m > 9 ? m : '0' + m}.${new Date().getFullYear()}` %></div>
                </div>
                <%- createItem('group', 'Групповых занятий', true) %>
                <%- createItem('english', 'Английский язык') %>
                <%- createItem('painting', 'ИЗО студия') %>
                <%- createItem('mental_arifm_1', 'Ментальная арифметика I', true) %>
                <%- createItem('mental_arifm_2', 'Ментальная арифметика II') %>
                <%- createItem('speed_read_1', 'Скорочтение I') %>
                <%- createItem('speed_read_2', 'Скорочтение II') %>
                <%- createItem2('defectologist', 'Посещений у дефектолога', true) %>
                <%- createItem2('logopedist', 'Посещений у логопеда') %>
                <%- createItem2('psychologist', 'Посещений у психолога') %>
                <%- createAnnual('fee', 'Ежегодный взнос', true) %>
                <%- createAnnual('book', 'Пособие', !annual.fee) %>
                <%- createAnnual('fee_3', 'Пособие 3', !annual.fee && !annual.book) %>
                <% if (additional) { %>
                    <div class="payment__row <%= fee || book || fee_3 ? '' : 'payment__total' %>">
                        <span class="payment__row_title">Дополнительная сумма:</span>
                        <div class="payment__row_body"><%= additional %> ₽</div>
                    </div>
                <% } %>
                <div class="payment__row payment__total">
                    <span class="payment__row_title">Итого к оплате:</span>
                    <div class="payment__row_body total"><%= query.total %> ₽</div>
                </div>
                <div class="payment__row payment__total">
                    <span class="payment__row_title">Дата:</span>
                    <div class="payment__row_body">
                        <% let dd = new Date().getDate() %>
                        <% let mm = new Date().getMonth() + 1 %>
                        <% let yy = new Date().getFullYear() %>
                        <%= `${dd > 9 ? dd : '0' + dd}.${mm > 9 ? mm : '0' + mm}.${yy}` %>
                    </div>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">Вид оплаты:</span>
                    <div class="payment__row_body">
                        <%= query.type === '0' ? 'Безналичный' : 'Наличный' %>
                    </div>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">Администратор:</span>
                    <div class="payment__row_body admin__fio"><%- query.admin %></div>
                </div>
                <div class="payment__row payment__total">
                    <span class="payment__row_title">ИП Матвиенко О.А.</span>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">ИНН</span>
                    <div class="payment__row_body">
                        <%= ITN %>
                    </div>
                </div>
                <div class="payment__row">
                    <span class="payment__row_title">ОГРН</span>
                    <div class="payment__row_body">
                        <%= PSRN %>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>
</body>
</html>