<!DOCTYPE>
<html lang="ru">
<head>
    <% include ../assets/elements/head.ejs %>
    <link rel="stylesheet" href="/assets/elements/multyCheckbox/multyCheckbox.css">
    <link rel="stylesheet" href="/children/style.css">
    <link rel="stylesheet" href="/child/style.css">
    <script>
        const child = <%- JSON.stringify(child) %>;
        const schedule = <%- JSON.stringify(schedule) %>;
    </script>
    <script src="/assets/elements/multyCheckbox/multyCheckbox.js"></script>
    <script src="/children/script.js"></script>
    <script src="/child/script.js"></script>
</head>
<body>
<%- include ../assets/elements/header.ejs %>
<div class="body container-fluid">
    <div class="row justify-content-center">
        <div class="children__window">
            <% if (child) { %>
                <div class="children__add">
                    <form class="children__add_form">
                        <span>ФИО ребенка:</span>
                        <input name="fio" type="text" disabled value="<%= child.fio %>">
                        <span>Дата рождения:</span>
                        <input name="birthday" type="text" disabled value="<%= child.birthday %>">
                        <span>ФИО родителя:</span>
                        <input type="text" disabled value="<%= child.parent_1_fio %>">
                        <span>Тел. родителя:</span>
                        <input name="tel" disabled value="<%= child.parent_1_tel %>">
                        <span>ФИО родителя:</span>
                        <input class="optionally" type="text" disabled value="<%= child.parent_2_fio %>">
                        <span>Тел. родителя:</span>
                        <input class="optionally" name="tel" type="text" disabled value="<%= child.parent_2_tel %>">
                        <span>Отпуск:</span>
                        <input class="optionally" name="vacation" type="text" disabled value="<%= vacation ? vacation.period : '' %>">
                        <% if (schedule.length > 0) { %>
                            <% for (let i = 0; i < schedule.length; i++) { %>
                                <span><%= i === 0 ? 'Расписание' : '' %></span>
                                <div class="children__add_schedule disabled">
                                    <%- include('../assets/elements/multyCheckbox/multyCheckbox', {
                                        items: [
                                            {color: 'white'},
                                            {color: '#8869bf', content: {text: 'Груп'}},
                                            {color: '#5f6693', content: {text: 'Ма 1'}},
                                            {color: '#75ced2', content: {text: 'Ма 2'}},
                                            {color: '#6a6683', content: {text: 'Англ'}},
                                            {color: '#94d7d6', content: {text: 'ИЗО'}},
                                            {color: '#bfb069', content: {text: 'Инд'}},
                                        ],
                                        className: 'disabled multyCheckbox_type',
                                        chosen: schedule[i].type,
                                    }); %>
                                    <select class="custom-select weekdays" disabled>
                                        <option disabled>День недели</option>
                                        <option <%= schedule[i].weekday === 0 ? 'selected' : ''%>>Понедельник</option>
                                        <option <%= schedule[i].weekday === 1 ? 'selected' : ''%>>Вторник</option>
                                        <option <%= schedule[i].weekday === 2 ? 'selected' : ''%>>Среда</option>
                                        <option <%= schedule[i].weekday === 3 ? 'selected' : ''%>>Четверг</option>
                                        <option <%= schedule[i].weekday === 4 ? 'selected' : ''%>>Пятница</option>
                                        <option <%= schedule[i].weekday === 5 ? 'selected' : ''%>>Суббота</option>
                                        <option <%= schedule[i].weekday === 6 ? 'selected' : ''%>>Воскресенье</option>
                                    </select>
                                    <input name="time" class="time" type="text" placeholder="Время" disabled value="<%= schedule[i].time %>">
                                    <input class="fio" type="text" placeholder="ФИО учителя" disabled
                                           value="<%= schedule[i].teacher ? schedule[i].teacher.fio : '' %>"
                                           data-id="<%= schedule[i].teacher_id %>">
                                    <ul class="children__add_schedule_teachers dropdown_list"></ul>
                                    <span class="<%= i === 0 ? 'add' : 'remove' %>"></span>
                                </div>
                            <% } %>
                        <% } else { %>
                            <span>Расписание</span>
                            <div class="children__add_schedule disabled">
                                <%- include('../assets/elements/multyCheckbox/multyCheckbox', {
                                    items: [
                                        {color: 'white'},
                                        {color: '#8869bf', content: {text: 'Груп'}},
                                        {color: '#5f6693', content: {text: 'Ма 1'}},
                                        {color: '#75ced2', content: {text: 'Ма 2'}},
                                        {color: '#6a6683', content: {text: 'Англ'}},
                                        {color: '#94d7d6', content: {text: 'ИЗО'}},
                                        {color: '#bfb069', content: {text: 'Инд'}},
                                    ],
                                    className: 'disabled',
                                }); %>
                                <select class="custom-select weekdays" disabled>
                                    <option disabled selected>День недели</option>
                                    <option>Понедельник</option>
                                    <option>Вторник</option>
                                    <option>Среда</option>
                                    <option>Четверг</option>
                                    <option>Пятница</option>
                                    <option>Суббота</option>
                                    <option>Воскресенье</option>
                                </select>
                                <input name="time" class="time" type="text" placeholder="Время" disabled>
                                <input class="fio" type="text" placeholder="ФИО учителя" disabled>
                                <ul class="children__add_schedule_teachers dropdown_list"></ul>
                                <span class="add"></span>
                            </div>
                        <% } %>
                    </form>
                    <div class="children__add_buttons justify-content-end">
                        <button type="button" class="btn btn-info delete">Удалить</button>
                        <button type="button" class="btn btn-info change">Изменить</button>
                        <button type="button" class="btn btn-info payment">Оплата</button>
                    </div>
                    <div class="info">
                        <div class="info__payment-list">
                            Список оплат
                            <ul>
                                <% if (payment.length) { %>
                                    <% payment.forEach(row => { %>
                                        <li>
                                            <% let [yyyy, mm, dd] = row.time.match(/\d+/g); %>
                                            <%= `${dd}.${mm}.${yyyy}` %>
                                            <%= row.amount %> ₽
                                            <% if (row.comment) { %>
                                                <br><%= row.comment %>
                                            <% } %>
                                        </li>
                                    <% }); %>
                                <% } else { %>
                                    <li style="text-align: center; display: block">Список оплат пуст</li>
                                <% } %>
                            </ul>
                        </div>
                        <div class="info__attendance">
                            Посещаемость
                            <ul>
                                <% if (attendance.length) { %>
                                    <% attendance.forEach(row => { %>
                                        <% if (row.time !== 'undefined') { %>
                                            <li data-time="<%= row.time %>" data-lesson-type="<%= row.lesson_type %>"
                                                data-id="<%= row.id %>">
                                                <% let [yyyy, mm, dd] = row.time.match(/\d+/g) %>
                                                <%= `${dd}.${mm}.${yyyy}` %>
                                                <div style="display: flex">
                                                    <span class="remove"></span>
                                                    <%- include('../assets/elements/multyCheckbox/multyCheckbox', {
                                                        items: [
                                                            {color: '#ededed'},
                                                            {color: '#068f0f', content: {text: 'П'}},
                                                            {color: '#e8e120', content: {text: 'Б'}},
                                                            {color: '#e82020', content: {text: 'О'}},
                                                        ],
                                                        className: 'disabled',
                                                        chosen: row.type,
                                                    }); %>
                                                </div>
                                            </li>
                                        <% } %>
                                    <% }) %>
                                <% } else { %>
                                    <li style="text-align: center; display: block">Список посещений пуст</li>
                                <% } %>
                            </ul>
                            <div class="attendance__btns justify-content-end">
                                <button type="button" class="btn btn-info change">Изменить</button>
                                <button type="button" class="btn btn-info add">Добавить</button>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else { %>
                <b>Ребенок не найден</b>
            <% } %>
        </div>
    </div>
</div>
<div class="add-child-attendance" style="
    display: none;
    position: fixed;
    width: 370px;
    height: 210px;
    background: white;
    left: calc(50vw - 185px);
    top: calc(50vh - 110px);
    border: 1px solid #E0E0E0;">
    <div style="display: flex; padding: 13px 8px 5px; border-bottom: 1px solid #E0E0E0;">
        <h1 style="font-size: 18px; margin: 0">Добавление посещаемости</h1>
        <button type="button" class="close" aria-label="Close" style="margin: -5px 0 0 auto;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div style="padding: 10px;">
        <div style="display: grid; grid-template-columns: 120px 150px; grid-gap: 10px;">
            <span>Дата: </span>
            <input name="date" type="text" style="height: 28px; padding: 0 5px;">
            <span>Тип занятия: </span>
            <%- include('../assets/elements/multyCheckbox/multyCheckbox', {
                items: [
                    {color: 'white'},
                    {color: '#8869bf', content: {text: 'Груп'}},
                    {color: '#5f6693', content: {text: 'Ма 1'}},
                    {color: '#75ced2', content: {text: 'Ма 2'}},
                    {color: '#6a6683', content: {text: 'Англ'}},
                    {color: '#94d7d6', content: {text: 'ИЗО'}},
                    {color: '#bfb069', content: {text: 'Инд'}},
                ],
                className: 'multyCheckbox_type',
            }); %>
            <span>Тип посещения: </span>
            <div style="color: #fff;">
                <%- include('../assets/elements/multyCheckbox/multyCheckbox', {
                    items: [
                        {color: '#ededed'},
                        {color: '#068f0f', content: {text: 'П'}},
                        {color: '#e8e120', content: {text: 'Б'}},
                        {color: '#e82020', content: {text: 'О'}},
                    ],
                }); %>
            </div>
        </div>
        <button type="button" class="btn btn-info add" style="padding: 2px 10px; position: absolute; right: 10px; bottom: 10px;">Добавить</button>
    </div>
</div>
<% include ../assets/elements/footer.ejs %>
</body>
</html>