<!DOCTYPE>
<html lang="ru">
<head>
    <title>Ежедневный отчет</title>
    <%- include ../../assets/elements/head.ejs %>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
<%- include ../../assets/elements/header.ejs %>
<% let totalCash = 0, totalNonCash = 0; %>
<table class="payments">
    <tr>
        <th class="time">Время</th>
        <th class="child">Ребенок</th>
        <th class="amount">Сумма</th>
        <th class="type">Рассчет</th>
        <th class="admin">Администратор</th>
        <th class="comment">Комментарий</th>
    </tr>
    <% payments.forEach(row => { %>
        <tr>
            <%
                let [, , , hh, mm] = row.time.match(/\d+/g);
                if (row.type === 0)
                    totalNonCash += row.amount;
                else
                    totalCash += row.amount;
            %>
            <td class="time"> <%- `${hh}:${mm}` %> </td>
            <td class="child" data-child-id="<%- row.child.id %>"> <%- row.child.fio %></td>
            <td class="amount"> <%- row.amount %> ₽ </td>
            <td class="type"><%- row.type ? 'Нал.' : 'Б/н.' %></td>
            <td class="admin"> <%- row.admin %> </td>
            <td class="comment">
                <span><%- row.comment %></span>
            </td>
        </tr>
    <% }); %>
</table>
<div class="total">
    <table class="total__table">
        <tr>
            <td>По безналичному расчету:</td>
            <td><%- totalNonCash %> ₽</td>
        </tr>
        <tr>
            <td>По наличному расчету:</td>
            <td><%- totalCash %> ₽</td>
        </tr>
        <tr>
            <td><b>Итого:</b></td>
            <td><b><%- totalCash + totalNonCash%> ₽</b></td>
        </tr>
    </table>
</div>
<div class="buttons">
    <button class="buttons__print btn btn-primary">Распечатать</button>
</div>
<%- include ../../assets/elements/footer.ejs %>
</body>
</html>